*.suo
*.user
*.userprefs
*/bin
*/obj
packages
Components
.Rproj.user
.Rhistory
SensusR/SensusR_*.tar.gz
*~
androidpublisher.dat
client_secrets.json
*/Resource.designer.cs
Sensus.Android/Assets/UnitTestingProtocol.json
Sensus.iOS/Resources/UnitTestingProtocol.json
.DS_Store
*SensusR.Rcheck

# Visual Studio 2015 cache/options directory
.vs/