exportPattern("^[[:alpha:]]+")

importFrom("graphics", "hist", "par", "pie", "plot.default", "plot")
importFrom("utils", "tail", "write.csv")
importFrom("R.utils", "gunzip")
importFrom("openssl", "read_key", "rsa_decrypt", "aes_cbc_decrypt", "askpass")

S3method(plot, AccelerometerDatum)
S3method(plot, AltitudeDatum)
S3method(plot, BatteryDatum)
S3method(plot, CellTowerDatum)
S3method(plot, CompassDatum)
S3method(plot, LightDatum)
S3method(plot, LocationDatum)
S3method(plot, ScreenDatum)
S3method(plot, SoundDatum)
S3method(plot, SpeedDatum)
S3method(plot, TelephonyDatum)
S3method(plot, WlanDatum)