<!DOCTYPE html>
<html>
<body>
	<h2 class="bodyheader">Log In</h2>
	
	<table class="body">
		<colgroup>
			<col>
			<col>
		</colgroup>
		<tr>
			<form id="user">
				<fieldset  class="body">
					<input name="loginEmailAddress" type="text" placeholder="Email Address" size="50" ng-model="formData.loginEmailAddress"><br>
					<input name="loginPassword" type="text" placeholder="Password" size="50" ng-model="formData.loginPassword"><br>
					<p>
					<label text-align="center"></label><input class="body" type="submit" value="Log In" data-ng-click="onLogin()"/>
					<p>
					<label text-align="center"></label><input class="body" type="submit" value="Create Account" data-ng-click="onCreate()"/>
				</fieldset>
			</form>
			
		</tr>
	</table>
</body>
</html>
