<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Sensus</string>
	<key>CFBundleIdentifier</key>
	<string>edu.virginia.sie.ptl.sensus</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainNibFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sensus uses GPS to collect location information for studies you enroll in.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb873948892650954</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>edu.virginia.sie.ptl.sensuss</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sensuss</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fb-messenger-api20140430</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CFBundleTypeName</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.virginia.sie.ptl.sensus.protocol</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Sensus Protocol</string>
			<key>UTTypeIdentifier</key>
			<string>edu.virginia.sie.ptl.sensus.protocol</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>json</string>
				<key>public.mime-type</key>
				<string>application/json</string>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleName</key>
	<string>Sensus</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Sensus collects calendar information for studies you enroll in.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sensus collects photos for studies you enroll in.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Sensus uses Bluetooth to collect information for studies you enroll in.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Sensus uses HealthKit to collect information for studies you enroll in.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Sensus does not share health information with other apps.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sensus uses the microphone to collect sound level information for studies you enroll in. Sensus will not record audio.</string>
	<key>NSLocationUsageDescription</key>
	<string>Sensus uses GPS to collect location information for studies you enroll in.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sensus uses GPS to collect location information for studies you enroll in.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sensus uses GPS to collect location information for studies you enroll in.</string>
	<key>NSMotionUsageDescription</key>
	<string>Sensus uses movement sensors to collect information for studies you enroll in.</string>
	<key>NSCameraUsageDescription</key>
	<string>Sensus uses the camera to scan participation barcodes. Sensus will not record images or video.</string>
	<key>CFBundleShortVersionString</key>
	<string>17.0.0</string>
	<key>CFBundleVersion</key>
	<string>202203241552</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Sensus uses Bluetooth to collect information for studies you enroll in.</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
