<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.1.0.7" targetFramework="xamarinios10" />
  <package id="AWSSDK.Core" version="3.1.5.3" targetFramework="xamarinios10" />
  <package id="AWSSDK.S3" version="3.1.5.0" targetFramework="xamarinios10" />
  <package id="AWSSDK.SecurityToken" version="3.1.3.2" targetFramework="xamarinios10" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="xamarinios10" />
  <package id="Toasts.Forms.Plugin" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="4.0.0-beta4" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.10.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.2.0.31" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="2.2.0.31" targetFramework="xamarinios10" />
  <package id="Xamarin.Insights" version="1.12.3" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.19.0" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="xamarinios10" />
</packages>
