<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios10" />
  <package id="Toasts.Forms.Plugin" version="1.0.6.18" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.MapExtend" version="1.2.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook" version="4.4.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="1.4.3.6376" targetFramework="xamarinios10" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="xamarinios10" />
</packages>